<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 加载外部的资源文件 -->
	<properties resource="db.properties"></properties>
	
	<!-- 起别名 作用，简化全限定类名-->
	<typeAliases>
		<!-- type给哪个类起别名   alias：别名是什么-->
		<!-- <typeAlias type="cn.pojo.User" alias="user"/> -->
		<!-- 批量起别名，name是配置的包 ，起的别名就是类名，首字母大写或者小写都可以-->
		<package name="cn.pojo" /> <!-- cn.pojo.User->user/User -->
	</typeAliases>
	
	<!-- mybatis的运行环境,default指的是运行下面的哪个environment的和id一样，mybatis和spring整合后，就不需要了 -->
	<environments default="mysql">
		<environment id="mysql">
			<!-- 事务 -->
			<transactionManager type="JDBC"></transactionManager>
			<!-- 数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置映射文件 -->
	<mappers>
		<mapper resource="UserMapper.xml"/>
	</mappers>
</configuration>